# latex caches
*.log
*.aux
*.fdb_latexmk
*.fls
*.gz
*.tar
*.xdv

# produced files
*.pdf

# editors
.vscode
.idea
.DS_store

[Dd]ata

__pycache__
*.pyc

# Cython generations
[Bb]uild
*.so
align/align_cpu.c

# Test caches
.pytest_cache
.cache
